{{>header}}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                 data-aos="fade-up" data-aos-delay="200">
                <h1>Build Your (summer) Movie List</h1>
                <h2>Get caught up on all the movies you missed!</h2>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="/movies" class="btn-get-started">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="/img/streamingGraphic.jpeg" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>About The App</h2>
            </div>

            <div class="row content">
                <div class="col-lg-6">
                    <p>
                        MovieFinder.us is a website that allows you to compile a list of movies to watch.
                        It is intended to prioritize quantity over quality to "catch up" on all the movies that have
                        been released.
                    </p>
                    <ul>
                        <li><i class="ri-check-double-line"></i> Top 100 movies (by box office) from 1980-Today
                        </li>
                        <li><i class="ri-check-double-line"></i> Breaks it down by Streaming Service
                        </li>
                        <li><i class="ri-check-double-line"></i> Helps you finish the within the free trial
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p>
                        Click through every movie, picking the ones you like, rejecting the ones you don't. Once you're
                        done, the website automatically compiles the list of streaming services the movie is present on.
                        From popular services like Netflix to tiny ones like "Film Movement Plus".
                    </p>
                    <a href="/movies" class="btn-learn-more">Get Started</a>
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Data Sources</h2>
                <p>Data was gathered through web scraping from the following Websites.
                    This method shouldn't be used for a commercial site since it is against TOS. Instead you will need
                    to negotiate a price to purchase API Access</p>
            </div>

            <div class="row">
                <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4><a href="">BoxOfficeMojo.com</a></h4>
                        <p>Part of IMDB. Used to get movie list by box office income</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                     data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4><a href="">JustWatch.com</a></h4>
                        <p>Used to get movie info(posters, rating etc.) and available streaming services</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Frequently Asked Questions</h2>
                <p>Here are the Answers to some questions you may have</p>
            </div>

            <div class="faq-list">
                <ul>
                    <li data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
                                                                       data-bs-target="#faq-list-1">What languages did
                        you use? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                            <p>
                                Other than html/css for the website, everything is written in Javascript (including the
                                server).
                                This is possible through <a href="https://nodejs.org/en/">Node.js</a> which lets you run
                                "headless" javascript(i.e. without a browser).
                                It is built on top of the chromium v8 engine.
                                Additionally I am using <a href="https://www.mysql.com/">mySQL</a> as my database.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                                                       data-bs-target="#faq-list-2" class="collapsed">What
                        open source libraries did you use? <i class="bx bx-chevron-down icon-show"></i><i
                                class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                On the server side the main libraries are Express.js, Puppeteer, and Handlebars.
                                On the client side the main libraries are bootstrap and jquery.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="300">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                                                       data-bs-target="#faq-list-3" class="collapsed">Where
                        can I see the code? <i class="bx bx-chevron-down icon-show"></i><i
                                class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                <a href="https://github.com/Sai503/movieFinder">You can see the code on my Github</a>
                            </p>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </section><!-- End Frequently Asked Questions Section -->


</main><!-- End #main -->

{{>footer}}
